<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vie.mydemo520.mapper.sys.ResourceMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />

	 <resultMap type="Resource" id="TreeMenuMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="priority" property="priority" />
		<result column="permission" property="permission" />
		<result column="available" property="available" />
		<result column="parent_id" property="parentId"/>
	</resultMap>
	
	<!-- resultMap用户 -->
	<resultMap id="BaseResultMap" type="Resource">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="priority" property="priority" />
		<result column="permission" property="permission" />
		<result column="available" property="available" />
		<result column="parent_id" property="parentId"/>
		<!-- 查询子节点 -->
     	<association property="children" column="id" select="org.vie.mydemo520.mapper.sys.ResourceMapper.queryChildrens"/>
	</resultMap>
	
	
	
	<!-- 根据用户名查询菜单 -->
	<select id="queryMenus" resultType="Resource">
	 select bb.id,bb.priority,bb.parent_id,bb.url,bb.permission,bb.available  
	 from
		(select aa.*,ur.user_id
		from
		(SELECT
		r.*,rr.role_id
		FROM sys_resource r
		   left join sys_role_resource rr on r.id=rr.resource_id)aa
		   left join sys_user_role ur on aa.role_id=ur.role_id)bb
		   left join sys_user u on bb.user_id=u.id
		   where u.username=#{username}
	</select>
	
	<!-- 查询左侧菜单栏(admin) -->
	<select id="queryAllMenus" resultMap="BaseResultMap">
		SELECT
		t.*  
		FROM
		sys_resource t
		WHERE  t.available = 1
		AND t.parent_id =0
		ORDER BY t.priority ASC
	</select>

   <!-- 查询所有菜单-->
	<select id="findAll" resultMap="BaseResultMap">
		SELECT
		t.*  
		FROM
		sys_resource t
		ORDER BY t.priority ASC
	</select>
    <!-- 查询子节点 -->
	<select id="queryChildrens" resultType="Resource">
		SELECT
		t.*
		FROM sys_resource t
		LEFT JOIN sys_resource p ON p.id = t.parent_id
		WHERE 
		t.available =1
		AND t.parent_id = #{id}
		ORDER BY t.priority ASC
	</select>
	
    <!-- 根据角色id查找资源 -->
	<select id="findMenusByRoleId" resultMap="TreeMenuMap">
		SELECT
			t.*
		FROM
			sys_resource t LEFT JOIN
			sys_role_resource r ON t.id=r.resource_id
		WHERE
			r.role_id = #{roleId}
	</select>

</mapper>