<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.vie.mydemo520.mapper.sys.UserMapper">
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" /> 

	<resultMap type="User" id="BaseResultMap">
		<id column="id" property="id" />
		<result column="nickname" property="nickname" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="salt" property="salt" />
		<association property="role" javaType="org.vie.mydemo520.entity.sys.Role">
			<id property="id" column="role.roleId"/>
			<result property="name" column="role.name"/>
		</association> 
	</resultMap>
	
    <!-- 查询 -->
	<select id="get" resultMap="BaseResultMap">
		SELECT
			u.*,
		    r.id as "role.roleId",
			r.`name`
		FROM
			sys_user u
		LEFT JOIN sys_user_role ur ON u.id = ur.user_id
		LEFT JOIN sys_role r ON r.id = ur.role_id
		WHERE
        u.id =#{id}
	</select> 

	<!-- 查询 -->
	<select id="getByUsername" resultType="User">
		SELECT u.* FROM sys_user u
		WHERE  u.username = #{username}
	</select>

	<!-- 查询（分页） -->
	<select id="queryUser" resultType="User">
		SELECT
		u.*
		FROM sys_user u
		<if test="username != null and username != ''">
			AND u.username LIKE CONCAT('%',#{username},'%')
		</if>
		<if test="nickname != null and nickname != ''">
			AND u.nickname = LIKE CONCAT('%',#{nickname},'%')
		</if>
	</select>

	<!-- 保存 -->
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO sys_user (
		id,
		nickname,
		username,
		password,
		salt,
		locked,
		is_admin
		)
		VALUES (
		#{id},
		#{nickname},
		#{username},
		#{password},
		#{salt},
		#{locked},
		#{isAdmin}
		)
	</insert>

	<!-- 修改 -->
	<update id="update">
		UPDATE sys_user
		SET nickname = #{nickname},
		username =#{username}
		WHERE id = #{id}
	</update>

	<!-- 删除 -->
	<update id="delete">
		delete sys_user 
		WHERE id IN
		<foreach collection="list" item="id" index="index" open="("
			separator="," close=")">
			#{id}
		</foreach>
	</update>

	<!-- 更新用户密码 -->
	<update id="resetPwd">
		UPDATE sys_user
		SET `password` = #{password},
		salt =
		#{salt}
		WHERE id = #{id}
	</update>

	<!-- 保存用户与角色的关联关系 -->
	<insert id="saveUserRole">
		INSERT INTO sys_user_role(user_id, role_id)
		<foreach collection="roles" item="role" separator=" UNION ALL ">
			SELECT  #{id}, #{role.id} FROM DUAL
		</foreach>
		<!-- VALUES (#{id},#{roleId}) -->
	</insert>

	<!-- 删除用户与角色的关联关系 -->
	<delete id="deleteUserRole">
		DELETE FROM sys_user_role WHERE user_id = #{id}
	</delete>


</mapper>